<div class="month-changer d-flex justify-content-center">
	<button class="minus-button btn btn-default mr-1"><</button>
	<button class="btn btn-default mr-1" id="yyyy-mm"><%= set_yyyy_mm %></button>
	<button class="plus-button btn btn-default">></button>
</div>
