<div class="form-group">
	<select class="category form-control" name="account_data[category_id]" id="account_data_category_id">
		<option value="" selected="selected">Category</option>
		<option value="101" >Food</option>
		<option value="102" >Daily goods</option>
		<option value="103" >Transport</option>
		<option value="104" >Phone</option>
		<option value="105" >Utilities</option>
		<option value="106" >Home</option>
		<option value="107" >Socializing</option>
		<option value="108" >Hobbies</option>
		<option value="109" >Education</option>
		<option value="110" >Medical</option>
		<option value="111" >Fashion</option>
		<option value="112" >Automobile</option>
		<option value="113" >Taxes</option>
		<option value="114" >Big outlay</option>
	</select>
</div>
<div class="form-group">
	<select class="genre form-control" name="account_data[genre_id]" id="account_data_genre_id" disabled>
		<option value="" selected="selected">Genre</option>
		<option value="10101" data-val="101">Groceries</option>
		<option value="10102" data-val="101">Cafe</option>
		<option value="10103" data-val="101">Breakfast</option>
		<option value="10104" data-val="101">Lunch</option>
		<option value="10105" data-val="101">Dinner</option>
		<option value="10199" data-val="101">Other</option>
		<option value="10201" data-val="102">Consumable</option>
		<option value="10202" data-val="102">Child-related</option>
		<option value="10203" data-val="102">Pet-related</option>
		<option value="10204" data-val="102">Tobacco</option>
		<option value="10299" data-val="102">Other</option>
		<option value="10301" data-val="103">Train</option>
		<option value="10302" data-val="103">Taxi</option>
		<option value="10303" data-val="103">Bus</option>
		<option value="10304" data-val="103">Airfares</option>
		<option value="10399" data-val="103">Other</option>
		<option value="10401" data-val="104">Cell phone</option>
		<option value="10402" data-val="104">Fixed-line phones</option>
		<option value="10403" data-val="104">Internet-related</option>
		<option value="10404" data-val="104">TV license</option>
		<option value="10405" data-val="104">Delivery</option>
		<option value="10406" data-val="104">Postcard, Stamps</option>
		<option value="10499" data-val="104">Other</option>
		<option value="10501" data-val="105">Water</option>
		<option value="10502" data-val="105">Electricity</option>
		<option value="10503" data-val="105">Gas</option>
		<option value="10599" data-val="105">Other</option>
		<option value="10601" data-val="106">Rent</option>
		<option value="10602" data-val="106">Mortgage</option>
		<option value="10603" data-val="106">Furniture</option>
		<option value="10604" data-val="106">Home electronics</option>
		<option value="10605" data-val="106">Reform</option>
		<option value="10606" data-val="106">Home insurance</option>
		<option value="10699" data-val="106">Other</option>
		<option value="10701" data-val="107">Party</option>
		<option value="10702" data-val="107">Gifts</option>
		<option value="10703" data-val="107">Ceremonial events</option>
		<option value="10799" data-val="107">Other</option>
		<option value="10801" data-val="108">Leisure</option>
		<option value="10802" data-val="108">Events</option>
		<option value="10803" data-val="108">Cinema</option>
		<option value="10804" data-val="108">Music</option>
		<option value="10805" data-val="108">Cartoon</option>
		<option value="10806" data-val="108">Books</option>
		<option value="10807" data-val="108">Games</option>
		<option value="10899" data-val="108">Other</option>
		<option value="10901" data-val="109">Adult tuition fees</option>
		<option value="10902" data-val="109">Newspapers</option>
		<option value="10903" data-val="109">Reference book</option>
		<option value="10904" data-val="109">Examination</option>
		<option value="10905" data-val="109">Tuition</option>
		<option value="10906" data-val="109">Student insurance</option>
		<option value="10907" data-val="109">Cram school</option>
		<option value="10999" data-val="109">Other</option>
		<option value="11001" data-val="110">Hospital</option>
		<option value="11002" data-val="110">Prescription</option>
		<option value="11003" data-val="110">Life insurance</option>
		<option value="11004" data-val="110">Medical insurance</option>
		<option value="11099" data-val="110">Other</option>
		<option value="11101" data-val="111">Clothes</option>
		<option value="11102" data-val="111">Accessories</option>
		<option value="11103" data-val="111">Underwear</option>
		<option value="11104" data-val="111">Gym, Health</option>
		<option value="11105" data-val="111">Beauty salon</option>
		<option value="11106" data-val="111">Cosmetics</option>
		<option value="11107" data-val="111">Esthetic clinic</option>
		<option value="11108" data-val="111">Laundry</option>
		<option value="11199" data-val="111">Other</option>
		<option value="11201" data-val="112">Gasline</option>
		<option value="11202" data-val="112">Parking</option>
		<option value="11203" data-val="112">Auto insurance</option>
		<option value="11204" data-val="112">Auto tax</option>
		<option value="11205" data-val="112">Auto loan</option>
		<option value="11206" data-val="112">Accreditation fees</option>
		<option value="11207" data-val="112">Tolls</option>
		<option value="11299" data-val="112">Other</option>
		<option value="11301" data-val="113">Pension</option>
		<option value="11302" data-val="113">Income tax</option>
		<option value="11303" data-val="113">Sales tax</option>
		<option value="11304" data-val="113">Residence tax</option>
		<option value="11305" data-val="113">Corporate tax</option>
		<option value="11306" data-val="113">Other</option>
		<option value="11401" data-val="114">Travel</option>
		<option value="11402" data-val="114">Home</option>
		<option value="11403" data-val="114">Automotive</option>
		<option value="11404" data-val="114">Motorbike</option>
		<option value="11405" data-val="114">Wedding</option>
		<option value="11406" data-val="114">Childbirth</option>
		<option value="11407" data-val="114">Nursing</option>
		<option value="11408" data-val="114">Furniture</option>
		<option value="11409" data-val="114">Home electronics</option>
		<option value="11499" data-val="114">Other</option>
	</select>
</div>
