<div class="top-page-wrapper d-flex justify-content-center align-items-center">
	<div class="signup-table text-center w-75">
		<h2>Welcome to Kakeibo App!!</h2>
		<p>You can record daily account records on this application.</p>
		<p>Kakeibo App is created by using Zaim API. </p>
		<%= link_to "Signin", signin_path, method: :post, class: "signup-btn btn btn-success" %>
		<p>Don't have an Zaim account?</p>
		<p>You can create an account on the <a class="zaim-link" href="https://zaim.net/"><b>Zaim.net</b></a>!!</p>
	</div>
</div>
