<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<%= link_to account_books_path, class: 'navbar-brand mx-auto' do %>
				<span class="text-secondary"><i class="fas fa-server"></i> Kakeibo App</span>
				<% end %>
				<form class="form-inline my-2 my-lg-0">
					<%= link_to "Sign out", signout_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %>
				</form>
			</div>
		</nav>
	</div>
</header>
